*{
	box-sizing: border-box;
	margin:0;
	font-family: helvetica, serif;
}

h1 {
	text-align: center;
	font-size: 1.75em;
	padding: 40px;
}
#container{
	margin-left: 20px;
}
#box{
	position: relative;
	background-color: #A9E2F3;
	padding: 40px 20px 20px;
	border: 1px solid black;
	margin: 10px;

}
span {
	position: absolute;
	top: -1px;
	right: -1px;
	padding: 4px 20px;
	border: 1px solid black;
	font-size: 1.25em;
	background-color: #F5DA81;
}

@media (min-width: 992px){
	#box{
		width: 31%;
		height: 246px;
		float: left;
	}
	
}
@media (min-width: 768px) and (max-width: 991px){
	.caja1, .caja2{
		width: 47%;
		height: 210px;
		float: left;
	}
	.caja3{
		width: 96.5%;
		float: left;
	}
}
@media (max-width: 767px){
	#box{
		width: 96%;
	}
}