*{
	box-sizing: border-box;
	margin:0;
	font-family: helvetica, serif;
}

h1 {
	text-align: center;
	font-size: 1.75em;
	padding: 40px;
}
#container{
	padding: 10px;
	
}
#box{
	position: relative;
	background-color: #A9E2F3;
	padding: 40px 20px 20px;
	border: 1px solid black;
	clear: right;

}
span {
	position: absolute;
	top: -1px;
	right: -1px;
	padding: 4px 20px;
	border: 1px solid black;
	font-size: 1.25em;
	background-color: #F5DA81;
}

@media (min-width: 992px){
	#container{
		width: 33.33%;
		float: left;
	}
	#box{
        height: 246px;
	}
	
}
@media (min-width: 768px) and (max-width: 991px){
	.caja1, .caja2{
		width: 50%;
		float: left;
	}
	.primera, .segunda{
        height: 210px;
	}
	.caja3{
		width: 100%;
		float: left;
	}
}
@media (max-width: 767px){
	#container{
		width: 100%;
	}
		
}